div.ed1 {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    animation: mymove1 5s infinite;
    /* 
    animation:
    name duration timing-function delay iteration-count direction fill-mode play-state;
     */
  }
  
  @keyframes mymove1 {
    0%   {top: 0px;}
    25%  {top: 200px;}
    75%  {top: 50px}
    100% {top: 100px;}
  }
  /* @keyframes animationname {keyframes-selector {css-styles;}} */

  /****************************************************************************/
  div.ed2 {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    animation: mymove2 5s infinite;
    animation-delay: 2s;
    /* animation-delay: time|initial|inherit; */
  }
  
  @keyframes mymove2 {
    from {left: 0px;}
    to {left: 200px;}
  }

  /******************************************************************************/
  div.ed3 {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    animation: myfirst3 5s 2;
    animation-direction: alternate;
    /* animation-direction: normal|reverse|alternate|alternate-reverse|initial|inherit; */
  }
  
  @keyframes myfirst3 {
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: yellow; left: 200px; top: 0px;}
    50%  {background: blue; left: 200px; top: 200px;}
    75%  {background: green; left: 0px; top: 200px;}
    100% {background: red; left: 0px; top: 0px;}
  }
  /***********************************************************************/
  div.ed4 {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    animation: mymove4 infinite;
    animation-duration: 3s;
    /* animation-duration: time|initial|inherit; */
  }
  
  @keyframes mymove4 {
    from {left: 0px;}
    to {left: 200px;}
  }
  /***********************************************************************************/
  div.ed5 {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    animation: mymove5 3s;
    animation-fill-mode: forwards;
    /* animation-fill-mode: none|forwards|backwards|both|initial|inherit; */
  }
  
  @keyframes mymove5 {
    from {left: 0px;}
    to {left: 200px; background-color: gray;}
  }
  /*******************************************************************************/
  div.ed6 {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    animation: mymove6 3s;
    animation-iteration-count: 2;
    /* animation-iteration-count: number|infinite|initial|inherit; */
  }
  
  @keyframes mymove6 {
    from {left: 0px;}
    to {left: 200px;}
  }
  /*************************************************************************/
  div.ed7 {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    animation-name: mymove7;
    /* animation-name: keyframename|none|initial|inherit; */
    animation-duration: 5s;
  }
  
  @keyframes mymove7 {
    from {left: 0px;}
    to {left: 200px;}
  }
  /**************************************************************************/
  div.ed8 {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    animation: mymove8 5s;
    animation-play-state: paused;
    /* animation-play-state: paused|running|initial|inherit; */
  }
  
  @keyframes mymove8 {
    from {left: 0px;}
    to {left: 200px;}
  }
  /***********************************************************************/