a[target].ed1 {
    background-color: yellow;
  }

  a[target=_blank].ed2 {
    background-color: yellow;
  } 

  [title~=environment] {
    border: 5px solid red;
    margin: 5px;
  }

  [class|=top] {
    background: yellow;
  }

  [class^="up"] {
    background: yellow;
  }

  [class$="test"] {
    background: yellow;
  }

  [class*="tr"] {
    background: yellow;
  }

  input[type=text] {
    width: 150px;
    display: block;
    margin-bottom: 10px;
    background-color: yellow;
  }
  
  input[type=button] {
    width: 120px;
    margin-left: 35px;
    display: block;
  }