.center1 {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
  }
  .center2 {
    text-align: center;
    border: 3px solid green;
  }

  img.c1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .right1 {
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
  }
  .right2 {
    float: right;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
  }
  .center3 {
    padding: 70px 0;
    border: 3px solid green;
  }
  .center4 {
    padding: 70px 0;
    border: 3px solid green;
    text-align: center;
  }

  .center5 {
    line-height: 200px;
    height: 200px;
    border: 3px solid green;
    text-align: center;
  }
  
  .center5 p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
  }

  .center6 { 
    height: 200px;
    position: relative;
    border: 3px solid green; 
  }
  
  .center6 p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .center7 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green; 
  }