img.ed1 {
    border-radius: 8px;
  }
  /*********************************************************/
  img.ed2 {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  
  img.ed2:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  /************************************************************/
  img.ed3 {
    max-width: 100%;
    height: auto;
  }
  /**************************************************************/
  img.ed4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  /****************************************************************/
  div.polaroid5 {
    width: 25%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  
  div.container5 {
    text-align: center;
    padding: 10px 20px;
  }
  /***************************************************************/
  img.ed6 {
    opacity: 0.5;
  }
  /**********************************************************************/
  .container7 {
    position: relative;
  }
  
  .topleft7 {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
  }
  .topright7 {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
  }
  .bottomleft7 {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
  }
  .bottomright7 {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
  }
  .center7 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
  }
  
  img.ed7 { 
    width: 100%;
    height: auto;
    opacity: 0.3;
  }
  /************************************************************************/
  