table.ed1, th.ed1, td.ed1 {
    border: 1px solid;
    border-spacing: 20px;
    /* border-spacing: length|initial|inherit; */
    width: 100%;
    text-align: right;
}

table.ed2, th.ed2, td.ed2 {
    border: 1px solid;
    width: 100%;
    border-collapse: collapse;
    /* caption-side: top|bottom|initial|inherit; */
    /* empty-cells: show|hide|initial|inherit; */
    /* table-layout: auto|fixed|initial|inherit; */
}
table.ed3 {
    width: 100%;
    border: 1px solid;
}

table.ed4 td.ed4, th.ed4 {
    border: 1px solid black;
    /* border: border-width border-style border-color|initial|inherit; */
    text-align: center;
}
  
table.ed4 {
    border-collapse: collapse;
    /* border-collapse: separate|collapse|initial|inherit; */
    width: 100%;
}
  
th.ed4 {
    height: 70px;
    vertical-align: bottom;
}

table.ed5 {
    border-collapse: collapse;
    width: 100%;
}
th.ed5 {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
td.ed5 {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
tr#ed5 {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
tr#ed5:nth-child(even) {
    background-color: rgb(214, 214, 214);
}
tr#ed5:hover {
    background-color: black;
    color: white;
}

.table {
    width: 90%;
    margin: 2% 5%;
    text-align: center;
    font-family: Vazirmatn;
    direction: rtl;
    border-collapse: collapse;
}
.row-header {
    background-color: green;
    height: 50px;
    font-size: 25px;
}
.row {
    background-color: white;
    font-size: 16px;
}
.row:nth-child(odd) {
    background-color: rgb(212, 255, 212);
}

.header {
    width: 30%;
}

.data {
    width: 30%;
    padding: 10px 5px;
}
.row:hover {
    background-color: rgb(255, 136, 115);
}
.data:hover {
    background-color: red;
}
