body {
    background-color: green;
}

h1 {
    color: white;
}

p.ex1 {
    text-align: left;
    color: orange;
}
p.ex2 {
    text-align: right;
    color: orange;
}
p.ex3 {
    text-align: center;
    color: orange;
}

div p.ex4 {
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: inherit;
    border: 1px solid red;
}

p.ex4 {
    text-align: justify;
    color: orange;
}

p.ex5 {
    color: orange;
    direction: rtl;
    text-align: right;
    unicode-bidi: bidi-override;
}
p.ex6 {
    /* text-decoration: text-decoration-line text-decoration-color text-decoration-style text-decoration-thickness|initial|inherit; */
    /* text-decoration-color: color|initial|inherit; */
    /* text-decoration-line: none|underline|overline|line-through|initial|inherit; */
    /* text-decoration-style: solid|double|dotted|dashed|wavy|initial|inherit; */
    /* text-decoration-thickness: auto|from-font|length/percentage|initial|inherit; */
    text-decoration-line: underline;
    text-decoration-color: red;
}

p.ex7 {
    /* text-transform: none|capitalize|uppercase|lowercase|initial|inherit; */
    text-transform: uppercase;
}

p.ex8 {
    letter-spacing: 3px;
    /* letter-spacing: normal|length|initial|inherit; */
    line-height: 2px;
    /* line-height: normal|number|length|initial|inherit; */
    text-indent: 10px;
    /* text-indent: length|initial|inherit; */
    white-space: nowrap;
    /* white-space: normal|nowrap|pre|pre-line|pre-wrap|initial|inherit; */
    word-spacing: 5px;
    /* word-spacing: normal|length|initial|inherit; */
}
p.ex9 {
    color: black;
    font-weight: bold;
    font-size: 48px;
    text-shadow: 2px 2px 5px white;
    /* text-shadow: h-shadow v-shadow blur-radius color|none|initial|inherit; */
}