/*  
    position:
    static
    relative
    fixed
    absolute
    sticky
*/
/* An element with position:
 static; is not positioned in any special way;
  it is always positioned according to the normal flow of the page: */


/* An element with position: relative;
 is positioned relative to its normal position. */

/* Setting the top, right, bottom, and left
 properties of a relatively-positioned element
  will cause it to be adjusted away from its normal position.
   Other content will not be adjusted to fit into any gap left by the element.
    */

/* An element with position: fixed;
 is positioned relative to the viewport,
  which means it always stays in the same place even if the page is scrolled.
   The top, right, bottom, and left properties are used to position the element.

    A fixed element does not leave a gap in the page
     where it would normally have been located.     */


/* An element with position: absolute;
 is positioned relative to the nearest positioned ancestor
  (instead of positioned relative to the viewport, like fixed).

However; if an absolute positioned element has no positioned ancestors,
 it uses the document body, and moves along with page scrolling.      */


/* An element with position:
 sticky; is positioned based on the user's scroll position.

A sticky element toggles between relative and fixed,
 depending on the scroll position.
  It is positioned relative until a given offset position is met in the viewport
   - then it "sticks" in place (like position:fixed). */
   div.parent {
    position: relative; /* position: static|absolute|fixed|relative|sticky|initial|inherit; */
    height: 200px;
    border: 3px solid red;
  }
  
  div.absolute {
    position: absolute;
    width: 50%;
    bottom: 10px; /* bottom: auto|length|initial|inherit; */
    border: 3px solid #8AC007;
  } 
  
  div.relative {
    position: relative;
    width: 50%;
    bottom: 5px;
    border: 3px solid #8AC007;
  } 
  
  div.fixed {
    position: fixed;
    width: 50%;
    bottom: 10px;
    border: 3px solid #8AC007;
  } 
  
  div.sticky {
    position: sticky;
    width: 50%;
    bottom: 10px;
    border: 3px solid #8AC007;
  }
  img {
    position: absolute;
    clip: rect(0px,60px,200px,0px); /* clip: auto|shape|initial|inherit; */
  }
  div.a {
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid red;
  }
  
  div.b {
    position: absolute;
    left: auto; /* left: auto|length|initial|inherit; */
    width: 100px;
    height: 120px;
    border: 3px solid blue;
  } 
  
  div.c {
    position: absolute;
    left: 150px;
    width: 200px;
    height: 120px;
    border: 3px solid green;
  } 
  
  div.x {
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid red;
  }
  
  div.y {
    position: absolute;
    right: 0; /* right: auto|length|initial|inherit; */
    width: 100px;
    height: 120px;
    border: 3px solid blue;
  } 
  
  div.z {
    position: absolute;
    right: 150px;  
    width: 200px;
    height: 120px;
    border: 3px solid green;
  } 

  div.h {
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid red;
  }
  
  div.i {
    position: absolute;
    top: 0; /* top: auto|length|initial|inherit; */
    border: 3px solid blue;
  } 
  
  div.j {
    position: absolute;
    top: 50px;
    border: 3px solid green;
  } 